.order_container {
  display: flex;
  width: 90%;
  margin: 10% auto;
}
.order_container .cart_overview {
  width: 80%;
}
.order_container .cart_header {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 16%;
}
.order_container .order_item {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  margin: 2% 0;
}
.order_container .cost-overview {
  display: flex;
  flex-direction: column;
}
.order_container .subtotal_cost,
.order_container .delivery_cost {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15%;
}
.order_container .cost_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_container .cost_total .order_total {
  display: flex;
  align-items: center;
  padding-right: 15%;
}
.order_container .payment_overview {
  width: 20%;
}

.order_table {
  margin: 0 auto;
} 

table {
  margin: 0 auto;
}
/* Style the table */
table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
}
th, td {
  padding: 8px;
  text-align: left;
}
.order_table {
  background-color: #BEB7DF;
}
tr {
  background-color: #BEB7DF;
}
th {
  background-color: blueviolet;
  color: white;
}

.bottom_navigation {
  border-top: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}
.bottom_navigation .footer_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 90%;
  width: 30%;
  padding: 0 1%;
  margin: 0 5%;
}
.bottom_navigation .footer_links a {
  text-decoration: none;
  color: black;
}
.bottom_navigation .socials {
  text-align: center;
  padding-bottom: 7%;
}
.bottom_navigation .other_links {
  padding-top: 5%;
}
.bottom_navigation .socials,
.bottom_navigation .other_links {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 99vw;
}

img {
  border-radius: 15%;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
}
.cards_container .dish_cards {
  border: solid black;
  border-width: 0 3px 3px;
  border-radius: 15%;
  max-width: 30%;
  margin: 2% auto;
}
.cards_container .dish_cards img {
  max-height: 100%;
  max-width: 100%;
}
.cards_container .dish_cards footer {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}

.hero_container {
  display: flex;
  align-items: center;
  max-height: 40%;
  max-width: 90%;
  margin: 10% auto 0;
}
.hero_container .hero_img {
  max-height: 55vh;
  margin: 0 2vw;
}
.hero_container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero_container form h1,
.hero_container form label {
  margin: 2% 0;
}
.hero_container form .search_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2% 0;
}
.hero_container form #search-bar {
  resize: none;
  background: transparent;
  height: 1.5em;
  width: 80%;
}
.hero_container form #search-button {
  cursor: pointer;
}
.hero_container form #search-bar,
.hero_container form #search-button {
  border-radius: 10px;
}

main {
  width: 90%;
  margin: 0 auto 5%;
}
main .categories {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 3% auto;
}
main .categories #category_container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
main .categories .category_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
main .categories .category_cards img {
  max-height: 15vh;
  padding: 0 1vw;
}
main .popular_dishes .popular_header {
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  padding: 0 3vw;
  margin: auto;
  max-width: 98%;
}
main .popular_dishes .popular_header div {
  display: flex;
  align-items: center;
  padding: 0 1vw;
}

.menu_buttons {
  max-width: 100%;
  margin-top: 10%;
  margin-left: 2%;
}

#load-more {
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  background: blueviolet;
  border-bottom: 3px solid black;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  width: 100%;
  padding: 0 5%;
}
nav .logo_name,
nav .navigation_links,
nav .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 10vh;
  width: 20%;
}
nav .logo_name {
  text-align: center;
}
nav .logo_name img {
  max-height: 9vh;
}

.navigation_links a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.tracking_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10% auto 5%;
}

.middle_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.middle_container .status_container {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}
.middle_container .status_container .order_progress div {
  border: 3px solid black 0;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.middle_container .status_container .order_progress div .step_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.step_desc {
  display: flex;
  flex-direction: column;
}

.middle_container .estimated_time {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1%;
  width: 19%;
}
.middle_container .estimated_time .message_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

#timer {
  font-size: 2rem;
}

body {
  font: 24px;
  background: #a3d0db;
  background: linear-gradient(227deg, #a3d0db 0%, #a3b0db 20%, #a3addb 34%, #a3dbd0 59%, #a3d0db 74%, #a3d0db 100%);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.5em;
}

.hero_container label,
.hero_container textarea,
.hero_container button {
  font-size: 1.25em;
}

.dish_cards footer span {
  font-size: 2em;
}
.dish_cards footer small {
  font-size: 1.2em;
}

/*# sourceMappingURL=main.css.map */
