<!-- Template for footer content -->
<footer>
  <h2>Luna's Kitchen</h2>
  <div class="footer_links">
    <div class="socials">
      <span>Follow Us!</span>
      <a href="INSTAGRAM LINK">@LunasKitchen
        <i>Insta icon</i>
      </a>
      <a href="TIKTOK LINK">@LunasKitchen
        <i>Tiktok icon</i>
      </a>
    </div>
    <div class="other_links">
      <!-- Implemented dummy links/does not need a route -->
      <a href="#">Customer support</a>
      <a href="#">Sign up to become a driver</a>
      <a href="#">Advertise with us!</a>
    </div>
  </div>
</footer>
