<!-- Navbar (static) -->
<nav>
  <div class="logo_name">
    <img src="https://cdn0.iconfinder.com/data/icons/basic-shapes-outline-3/640/outline_crescent-512.png"
      alt="descriptive imgage text here.">
    <h2>Luna's Kitchen</h2>
  </div>
  <div class="navigation_links">
    <a href="#"><span>HOME</span></a>
    <a href="#"><span>MENU</span></a>
    <a href="#"><span>ORDER</span></a>
  </div>
  <!-- This placeholder element should change based on login status -->
  <div id="login_container"></div>
  <div class="icons">
    <span class="material-symbols-outlined">search</span>
    <span class="material-symbols-outlined">shopping_cart</span>
    <span class="material-symbols-outlined">account_circle</span>
  </div>
</nav>