<nav>
  <div class="navigation_links" id="navLinks">
    <img src="INSERT LOGO HERE" alt="descriptive imgage text here.">
    <span>Luna's Kitchen</span>
    <span>GET</span>
    <span>BROWSE</span>
    <span>MENU</span>
    <span>ORDER</span>
  </div>
  <div class="icons">
    <!-- This placeholder element should change based on login status -->
    <p id="login_container"></p>
    <i alt="Spyglass icon">Search</i>
    <i alt="Handbasket icon">Cart</i>
    <i alt="Portrait silhouette">User</i>
  </div>
</nav>