@import 'variables';
@import 'layout';
@import 'nav';
@import 'footer';
@import 'menu';
@import 'cart';

// Default font size for responsive text
body {
  font: 24px;
  background: $default-background;
  background: $background-linear;
}

// Size for all types of header tags
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.5em;
}

// Hero text styles
.hero_container {

  label,
  textarea,
  button {
    font-size: 1.25em;
  }
}

// Dish card text styles
.dish_cards footer {
  span {
    font-size: 2em;
  }

  small {
    font-size: 1.2em;
  }
}